@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
    
    <h1>Menu</h1>

    <div class="content">
        <div>
            <h2>Cretaceous Combos</h2>
            @foreach (DinoDiner.Menu.IMenuItem item in Model.items)
            {
                if(item.Category == "Combo")
                {
                    <div class="menu-item">
                        <h3>
                            @item.ToString()
                        </h3>
                        <table style="width: 50px">
                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Calories</th>
                            </tr>
                            <tr>
                                <th>Small</th>
                                <th>@String.Format("{0:N2}", item.Price)</th>
                                <th>@item.Calories</th>
                            </tr>
                            <tr>
                                @if(item is DinoDiner.Menu.CretaceousCombo medium)
                                {
                                    medium.Size = DinoDiner.Menu.Size.Medium;
                                }
                                 <th>Medium</th>
                                 <th>@String.Format("{0:N2}", item.Price)</th>
                                 <th>@item.Calories</th>
                            </tr>
                            <tr>
                                @if (item is DinoDiner.Menu.CretaceousCombo large)
                                {
                                    large.Size = DinoDiner.Menu.Size.Large;
                                }
                                <th>Large</th>
                                <th>@String.Format("{0:N2}", item.Price)</th>
                                <th>@item.Calories</th>
                            </tr>
                        </table>
                       
                        <p>Ingredients: </p>
                            @foreach (string ingredients in item.Ingredients)
                            {
                                <ul>@ingredients</ul>
                            }
                    </div>
                }

            }

            <h2>Entrees</h2>
            @foreach (DinoDiner.Menu.IMenuItem item in Model.items)
            {
                if (item.Category == "Entree")
                {
                    <div class="menu-item">
                        <h3>
                            @item.ToString()
                        </h3>
                        <p>Price: $@item.Price</p>
                        <p>Calories: @item.Calories</p>
                        <p>Ingredients: </p>
                        @foreach (string ingredients in item.Ingredients)
                        {
                            <ul>@ingredients</ul>
                        }
                    </div>
                }

            }
            <h2>Sides</h2>
            @foreach (DinoDiner.Menu.IMenuItem item in Model.items)
            {
                if (item.Category == "Side")
                {
                <div class="menu-item">
                    <h3>
                        @item.ToString()
                    </h3>
                    <table style="width: 50px">
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <th>Small</th>
                            <th>@String.Format("{0:N2}", item.Price)</th>
                            <th>@item.Calories</th>
                        </tr>
                        <tr>
                            @if (item is DinoDiner.Menu.Side medium)
                            {
                                medium.Size = DinoDiner.Menu.Size.Medium;
                            }
                            <th>Medium</th>
                            <th>@String.Format("{0:N2}", item.Price)</th>
                            <th>@item.Calories</th>
                        </tr>
                        <tr>
                            @if (item is DinoDiner.Menu.Side large)
                            {
                                large.Size = DinoDiner.Menu.Size.Large;
                            }
                            <th>Large</th>
                            <th>@String.Format("{0:N2}", item.Price)</th>
                            <th>@item.Calories</th>
                        </tr>
                    </table>
                    <p>Ingredients: </p>
                    @foreach (string ingredients in item.Ingredients)
                    {
                        <ul>@ingredients</ul>
                    }
                </div>
                }

            }
            <h2>Drinks</h2>
            @foreach (DinoDiner.Menu.IMenuItem item in Model.items)
            {
                if (item.Category == "Drink")
                {
            <div class="menu-item">
                <h3>
                    @item.ToString()
                </h3>
                <table style="width: 50px">
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Calories</th>
                    </tr>
                    <tr>
                        <th>Small</th>
                        <th>@String.Format("{0:N2}", item.Price)</th>
                        <th>@item.Calories</th>
                    </tr>
                    <tr>
                        @if (item is DinoDiner.Menu.Drink medium)
                        {
                            medium.Size = DinoDiner.Menu.Size.Medium;
                        }
                        <th>Medium</th>
                        <th>@String.Format("{0:N2}", item.Price)</th>
                        <th>@item.Calories</th>
                    </tr>
                    <tr>
                        @if (item is DinoDiner.Menu.Drink large)
                        {
                            large.Size = DinoDiner.Menu.Size.Large;
                        }
                        <th>Large</th>
                        <th>@String.Format("{0:N2}", item.Price)</th>
                        <th>@item.Calories</th>
                    </tr>
                </table>
                <p>Ingredients: </p>
                @foreach (string ingredients in item.Ingredients)
                {
                    <ul>@ingredients</ul>
                }
            </div>
                }

            }
        </div>
        <form method="post">
                <h4>Search</h4>
                <input type="text" name="search" id="search" value="@Model.search" />
                <input type="submit" value="Search And Filter" />

                <h4>Filter by Category</h4>
                <div class="menu">
                    <label>
                        <input type="checkbox" class="menu-category" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
                        Combo
                    </label>

                    <label>
                        <input type="checkbox" class="menu-category" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
                        Entree
                    </label>
                    <label>
                        <input type="checkbox" class="menu-category" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
                        Side
                    </label>
                    <label>
                        <input type="checkbox" class="menu-category" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
                        Drink
                    </label>
                </div>

                <h4>Price</h4>
                <div class="price">
                    <label>
                        Min
                        <input type="number" min="0" max="10" step="0.1" name="minimumPrice" id="minimum-price" value="@Model.minimumPrice" />
                    </label>
                    <label>
                        Max
                        <input type="number" min="0" max="10" step="0.1" name="maximumPrice" id="maximum-price" value="@Model.maximumPrice" />
                    </label>
                </div>
                <h4>Excluding Ingredients</h4>
                <div class="exclude-ingredient">
                    @foreach (string ingredient in @Model.ingredients)
                    {
                    <label>
                        <input type="checkbox" name="excludeIngredients" value="@ingredient" checked="@Model.excludeIngredients.Contains(@ingredient)" />
                        @ingredient
                    </label>  
                    }
                </div>
        </form>
    </div>



